*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    color: #fff;
    background-color: #48c5ce;
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 26px;
    text-transform: uppercase;
}

section {
    color: #fff;
}

section h2 {
    text-transform: uppercase;
}

section p {
    text-align: justify;
}

.form-container {
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right;
    color: #000;
}

.mb {
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"] {
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
}